<form action="" id="edit-form">
    {{ edit_form.id }}
    {% csrf_token %}
    <label class="sign__label">
        Трекномер*
    </label>
    <input required="" type="text" class="sign__input" value="{{ parcel_track }}" readonly
           maxlength="18">


    <label class="sign__label">
        Название магазина*
    </label>
    {{ edit_form.name }}

    <label class="sign__label">
        Вид товара*
    </label>
    {{ edit_form.type }}

    <label class="sign__label">
        Страна*
    </label>
    <div class="select__wrap">
        <select></select>
        <div class="current__select-wrap">
            {{ edit_form.store }}
        </div>
        <div class="select__option-wrap">
            {% for country in countries %}
                <div class="select__option">
                    {{ country }}
                </div>
            {% endfor %}
        </div>
    </div>

    <label class="sign__label">
        Веб сайт*
    </label>
    {{ edit_form.site }}

    <label class="sign__label">
        Комментарии
    </label>
    {{ edit_form.comment }}
    <div class="symbol__counter">
                            <span class="current__length">
                                0
                            </span>
        /
        <span class="total__length">
                                324
                            </span>
    </div>

    <button type="submit" class="personal__btn modal__btn">
        Сохранить изменения
    </button>
</form>