{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                {% include 'components/faq-sidebar/faq-sidebar.html' %}
                <div class="faq__main">
                    {% for block in object_list %}
                    <div class="faq__question">
                        <h3 class="question__title">
                            {{ block.title }}
                        </h3>
                        <div class="faq__accordion">
                            {% for sub_block in block.sub_blocks.all %}
                            <div class="accordion__item">
                                <h4 class="accordion__title">
                                    {{ sub_block.title }}
                                </h4>
                                <p class="accordion__answer">
                                    {{ sub_block.description }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}