{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                <div class="shop__wrap">
                    <div class="shop__head">
                        <h2 class="shop__title">
                            Новости и Акции
                        </h2>

                        <div class="shop__filter">
                            <a href="/news" class="filter__item">
                                Все
                            </a>
                            {% for category in categories %}
                                <form action="" method="GET">
                                    <button type="submit" class="filter__item" name="category" value="{{ category.id }}">
                                        {{ category }}
                                    </button>
                                </form>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="shop__grid">
                        {% include 'sections/news-object.html' %}
                    </div>
                    {% if page_obj.has_next %}
                    <div class="shop__more-wrap">
                        <a href="#" class="shop__more" onclick="return false" id="more">
                            Больше новостей!
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
if(page) {
    $('#more').on('click', function () {
        $.ajax({
            type: "GET",
            url: './',
            data: {
                page: page,
                {% if category_id %}category: {{ category_id }}{% endif %}

            },
            success: function (data) {
                $('.shop__grid').append(data);


            },
        });
    });
}
</script>
{% endblock %}