{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                <div class="shop__wrap">
                    <div class="shop__head">
                        <h2 class="shop__title">
                            Магазины
                        </h2>
                        <div class="shop__filter">
                            <a href="/shop" class="filter__item active">
                                Все
                            </a>
{#                            {% for country in filter.form.country %}#}
{#                            country#}
{#                            {% endfor %}#}
                            {% for country in countries %}
                                <a href="#" class="filter__item">
                                    {{ country.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="shop__grid">

                        {% for shop in shops %}
                            {% include 'sections/shop-detail.html' %}
                        {% endfor %}

                    </div>
                    <div class="shop__more-wrap">
                        <a href="#" class="shop__more">
                            Больше Магазинов!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}