{% extends 'base.html' %}
{% load static %}

{% block title_page %}{% endblock %}

{% block style-libs %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <div class="gray__body">
        <div class="container">
            <div class="faq__wrap">
                <div class="shop__wrap">
                    <div class="shop__head">
                        <h2 class="shop__title">
                            Магазины
                        </h2>
                        <div class="shop__filter">
                            <a href="/shop" class="filter__item {% if request.resolver_match.url_name == 'shop' %}active{% endif %}">
                                Все
                            </a>
                            {% for country in countries %}
                                <form action="" method="GET">
                                    <button type="submit" class="filter__item" name="country" value="{{ country.id }}">
                                        {{ country }}
                                    </button>
                                </form>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="shop__grid">


                            {% include 'sections/shop-detail.html' %}


                    </div>
                {% if page_obj.has_next %}
                    <div class="shop__more-wrap">
                        <a href="" class="shop__more" id="more" onclick="return false">
                            Больше Магазинов!
                        </a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
if(page) {
    $('#more').on('click', function () {
        $.ajax({
            type: "GET",
            url: './',
            data: {
                page: page,
                {% if country_id %}country: {{ country_id }}{% endif %}

            },
            success: function (data) {
                $('.shop__grid').append(data);
            },
        });
    });
}
</script>
{% endblock %}